.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 60px 150px;

  .mywork-title {
    position: relative;

    h1 {
      padding: 0px 30px;
      font-size: 80px;
      font-weight: 600;
    }

    img {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
  }

  .mywork-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;

    img {
      box-sizing: border-box;
      width: 419px;
      height: 280px;
      transition: 0.3s;
      cursor: pointer;
      border-radius: 10px;
    }

    img:hover {
      transform: scale(1.1);
      border: 4px solid #ff00ff;
      border-radius: 10px;
      transition: 0.3s;
    }
  }

  .mywork-showmore {
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 15px 40px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.6s;
    cursor: pointer;
  }
  .mywork-showmore:hover {
    gap: 30px;
    transition: 0.6s;
    border: 2px solid #ff00ff;
    padding: 20px 30px;
  }
}

@media (max-width: 768px) {
  .mywork {
    gap: 40px;
    margin: 50px 30px;
    align-items: start;

    .mywork-title {
      h1 {
        font-size: 50px;
        padding-left: 20px;
        font-weight: 600;
      }

      img {
        width: 130px;
        margin-right: -20px;
      }
    }

    .mywork-container {
      grid-template-columns: 1fr 1fr;
      gap: 25px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .mywork-showmore {
      padding: 10px 30px;
      font-size: 18px;
      margin: 50px auto;
      cursor: pointer;
      gap: 10px;
      margin: 10px auto;
    }

    .mywork-showmore:hover {
      gap: 20px;
      border: 1.5 solid #ff00ff;
      padding: 15px 35px;
      font-size: 19px;
    }
  }
}

@media (max-width: 490px) {
  .mywork {
    gap: 30px;
    margin: 50px 30px;

    .mywork-title {
      h1 {
        font-size: 40px;
        padding-left: 20px;
        font-weight: 600;
      }

      img {
        width: 110px;
        right: 20px;
      }
    }

    .mywork-container {
      grid-template-columns: 1fr;
      gap: 25px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .mywork-showmore {
      padding: 10px 30px;
      font-size: 18px;
      margin: 50px auto;
      cursor: pointer;
      gap: 10px;
      margin: 10px auto;
    }

    .mywork-showmore:hover {
      gap: 20px;
      border: 1.5 solid #ff00ff;
      padding: 15px 35px;
      font-size: 19px;
    }
  }
}
