.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 150px;

  .my-name {
    position: relative;
    cursor: pointer;

    h1 {
      padding: 0px 30px;
      font-size: 50px;
      font-weight: 600;
      line-height: 1;
    }

    img {
      width: 35%;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
  }

  .nav-mob-open {
    display: none;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 17px;

    .nav-mob-close {
      display: none;
    }

    .anchor-link {
      text-decoration: none;
      color: white;
    }
  }

  .nav-connect:hover {
    transform: scale(1.05);
  }
  .anchor-link {
    text-decoration: none;
    color: white;

    .nav-connect {
      padding: 15px 30px;
      border-radius: 50px;
      background: linear-gradient(267deg, #da7c25 0.36%, #b923ea 102.01%);
      font-size: 18px;
      cursor: pointer;
      transition: 0.5s;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px 50px;

    .nav-mob-open {
      display: block;
      position: fixed;
      right: 30px;
    }

    .nav-menu {
      position: fixed;
      flex-direction: column;
      align-items: start;
      top: 0;
      gap: 20px;
      background-color: #1f0016;
      height: 100%;
      width: 350px;
      z-index: 2;
      transition: right 0.5s;
      right: -350px;
      padding-top: 20px;

      .nav-mob-close {
        display: block;
        position: fixed;
        top: 30px;
        right: 30px;
        width: 30px;
      }

      li {
        font-size: 20px;
        padding-left: 100px;
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        gap: 20px;

        img {
          width: 25%;
        }
      }
    }

    .nav-connect {
      display: none;
    }
  }
}
