.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 150px;

  .my-name {
    position: relative;
    cursor: pointer;

    h1 {
      padding: 0px 30px;
      font-size: 50px;
      font-weight: 600;
      line-height: 1;
    }

    img {
      width: 35%;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
  }

  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 17px;

    .anchor-link {
      text-decoration: none;
      color: white;
    }
  }

  .nav-connect:hover {
    transform: scale(1.05);
  }
  .anchor-link {
    text-decoration: none;
    color: white;

    .nav-connect {
      padding: 15px 30px;
      border-radius: 50px;
      background: linear-gradient(267deg, #da7c25 0.36%, #b923ea 102.01%);
      font-size: 18px;
      cursor: pointer;
      transition: 0.5s;
    }
  }
}
